.paginado {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    gap: 5px;
    padding: 20px;
    justify-content: center;
    margin: 0px;
}

.number {
    color: black;
    list-style: none;
    display: flex;
    flex-grow: initial;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    margin: auto;
    padding: 5px;
    cursor: pointer;
}

.number:hover {
    transform: scale(1.2);
}

